@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&family=Ubuntu:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #d6e3dc;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.2);
}

header h1{
    text-align: center;
    color: black;
    padding: 12px 0;
    width: 60%;
}

.back{
    position: absolute;
    left: 0;
    display:flex;
    justify-content: center;
    align-items: center;
}

.back a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 22px;
    margin: 0 10px 0;
    color: #ed5d2c;
    font-weight: 600;
    transition: all 0.3s ease;
}

.back a .bx{
    font-size: 40px;
}

.back a:hover {
    cursor: pointer;
    color: #05564b;
}

@media screen and (max-width: 600px){
    .back a {
        margin: 0 10px 0;
    }
    .back a span {
        display: none;
    }
    .back a .bx {
        font-size: 50px;
        padding-left: 10px;
    }
}

main{
    padding: 10px 0;
    margin: auto 5%;
    transition: all 0.3s ease;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.container{
    background-color: white;
    margin: 5px 0px;
    padding:  20px 20px 10px;
    border-radius: 10px;
    width: 100%;
    max-width: 700px;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.container p{
    text-align: center;
    margin-bottom: 20px;
}

/* Кнопка завантаження файлу */

.drop-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    padding: 20px;
    border-radius: 10px;
    border: 2px dashed #555;
    color: #444;
    cursor: pointer;
    transition: all .2s ease-in-out, border .2s ease-in-out;
}

.drop-container:hover {
    background: #eee;
    border-color: #111;
}

.drop-container:hover .drop-title {
    color: #222;

}

.drop-title {
    color: #444;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    transition: color .2s ease-in-out;
    padding: 10px;
}

.photoButton {
    font-family: 'Montserrat', sans-serif;
    border: none;
    background-color: #ed5d2c;
    color: white;
    border-radius: 10px;
    padding: 10px 20px;
    font-weight: 500;
    font-size: 14px;
    margin: 10px;
    z-index: 1;
    transition: all 0.3s ease;
}

.photoButton:hover {
    cursor: pointer;
    background-color: #05564b;
}

.drop-container.drag-active {
    background: #eee;
    border-color: #111;
}

.drop-container.drag-active .drop-title {
    color: #222;
}

/* ------------------------- */

.container textarea, .container.name input {
    width: 100%;
    background-color: #d6e3dc32;
    border: none;
    outline: none;
    resize: vertical;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 15px;
    margin-bottom: 8px;
    box-shadow: inset 1px 3px 5px rgba(0, 0, 0, 0.05);
}

#photoImg{
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
}

.double-click{
    display: none;
    justify-content: right;
    font-size: 14px;
    color: #69ae88ba;
    align-items: center;
    padding-top: 5px;
}

.double-click i{
    font-size: 16px;
    padding: 0 10px;
}

@media screen and (max-width: 600px) {
    .double-click {
        justify-content: center;
        font-size: 13px;
    }
    .double-click i{
        font-size: 15px;
        padding: 0 0 0 5px;
    }
    .container textarea{
        height: 150px;
    }
}

.container.name input{
    text-align: center;
}

.container textarea{
    min-height: 40px;
    max-height: 350px;
    margin-bottom: 5px;
}

.container.full-description textarea{
    max-height: 500px;
}

.container.contacts ul.contacts{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 10px;
}

ul.contacts li{
    width: calc(50% - 10px);
    display: flex;
    justify-content: right;
    align-items: center;
    transition: all 0.3s ease;
}

ul.contacts li i{
    color: #05564b;
    font-size: 20px;
    padding-right: 10px
}

ul.contacts li input{
    width: 85%;
    background-color: #d6e3dc32;
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 15px;
    box-shadow: inset 1px 3px 5px rgba(0, 0, 0, 0.05);
}

@media screen and (max-width: 600px){
    .container.contacts ul.contacts {
        gap: 15px;
    }

    ul.contacts li {
        width: 100%;
        justify-content: center;
    }
}

.max-length{
    text-align: right;
    font-size: 13px;
    color: #69ae88ba;
    padding-right: 5px;
}

.meta{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 0 10px;
    max-width: 700px;
}

.meta .container{
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.container input[type="date"]{
    width: 100%;
    border: none;
    background-color: #d6e3dc32;
    border-radius: 10px;
    padding: 10px 20px;
    outline: none;
    font-size: 14px;
    box-shadow: inset 1px 3px 5px rgba(0, 0, 0, 0.05);
}

.meta .container label{
    padding-left: 10px;
    margin: 5px 0 5px;
}

.meta .container.owner input {
    font-size: 15px;
    background-color: #d6e3dc32;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    box-shadow: inset 1px 3px 5px rgba(0, 0, 0, 0.05);
    text-align: center;
    pointer-events: none;
    color: grey;
}

.tag-select{
    font-size: 15px;
    padding: 10px 20px;
    border: none;
    outline: none;
    box-shadow: inset 1px 3px 5px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    background-color: #d6e3dc32;
}

#sendButton {
    margin: 10px;
    padding: 10px 15px;
    color: white;
    border-radius: 10px;
    font-weight: 600;
    font-size: 18px;
    background-color: #ed5d2c;
    transition: all 0.3s ease;
    border: none;
    cursor:pointer;
    transition: all 0.3s ease;
}

@media screen and (min-width: 600px) {

    .meta .container{
        width: calc(50% - 5px);
    }
    main{
        margin: auto 10%;
        padding: 30px 0;
    }
    .container.owner{
        width: 100%;
    }
}

@media screen and (min-width: 800px) {
    .meta .container{
        width: calc(33% - 5px);
    }
}